<!DOCTYPE html>
<html>
<head>
  <title>MmrApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/earlyaccess/padauk.css", media: 'all'%>
  <%= stylesheet_link_tag    "http://mmwebfonts.comquas.com/fonts/?font=zawgyi", media: 'all'%>
  <%= stylesheet_link_tag    "http://mmwebfonts.comquas.com/fonts/?font=masterpiece", media: 'all'%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ngapp='word'>

<%= yield %>

</body>
</html>
